server {
    {% for port in ports %}
    listen {{ port }};
    {% endfor %}

    server_name {% for hostname in hostnames %}{{ hostname }} {% endfor %};

    root {{ root }};

    error_log /var/log/nginx/{{ name }}.error.log;
    access_log /var/log/nginx/{{ name }}.access.log;

    # strip app.php/ prefix if it is present
    rewrite ^/app\.php/?(.*)$ /$1 permanent;

    location / {
        index app.php;
        try_files $uri @rewriteapp;
    }

    # see http://wiki.nginx.org/XSendfile
    location /_internal/ {
        internal;
        alias {{ internal_location_path if internal_location_path != '' else root }};
    }

    location @rewriteapp {
       rewrite ^(.*)$ /app.php/$1 last;
    }

    # pass the PHP scripts to FastCGI server from upstream phpfcgi
    location ~ ^/(app|app_dev|config)\.php(/|$) {
        fastcgi_pass phpfcgi;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param  SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_param  HTTPS off;

        fastcgi_read_timeout {{ fastcgi_read_timeout }};
    }
}
