zend_extension="{{ xdebug_install_path.stdout_lines[0] }}"
xdebug.max_nesting_level=1000
xdebug.remote_enable=true
xdebug.remote_connect_back=true

; no auto profiling, but enabling it through trigger (GET/POST/COOKIE) "XDEBUG_PROFILE"
xdebug.profiler_enable = 0
xdebug.profiler_enable_trigger = 1
xdebug.profiler_output_dir = "{{ xdebug_output_dir }}"

; no auto tracing, but enabling it through trigger (GET/POST/COOKIE) "XDEBUG_TRACE"
xdebug.auto_trace = 0
xdebug.trace_enable_trigger = 1
xdebug.trace_format = 1
xdebug.trace_output_dir = "{{ xdebug_output_dir }}"
